
body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box{
    width:500px;
    margin:200px  auto;
    border: 2px double black;
    padding:1em;
    border-radius: 1rem;
}

h1{
    text-align: center;
}

button{
    display:block;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover{
    color:white;
    background-color: Red;

}

